#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: blueviolet;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  
}

  
